In [1]:
height = 3.4
weight = 2.7
print(height)
print(weight/height**2)

3.4
0.2335640138408305

In [2]:
type(height)

float

In [3]:
a = 5
b = True
c = 'this is a string'
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'bool'>
<class 'str'>

In [4]:
d = 2+3
e = "I am " + " a boy" + "."
print(d)
print(e)

5
I am  a boy.

In [5]:
number_of_courses = 5
print("I am taking ") + number_of_courses + " this semester"
# number_of_courses만 integer고 다른 것들은 String이기 때문에 error

I am taking

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [6]:
print("I am taking " + str(number_of_courses) + " this semester")

I am taking 5 this semester

In [7]:
a = "3.4567"
b = float(a)
print(a)
print(b)
print(type(a))
print(type(b))

3.4567
3.4567
<class 'str'>
<class 'float'>

In [9]:
# list는 대괄호로 표시, 변수들의 집합
# int, float, bool 섞여도 상관없음
a = [1,2,3,4]
b = [1, 2.3, True, "this is a test"]
c = a + b
d = [1,2,[1,2,3],[1,2,"Test"]]
e = [1+2, "baby "*3, 4]

In [10]:
print(a)
print(b)
print(c)
print(d)
print(e)

[1, 2, 3, 4]
[1, 2.3, True, 'this is a test']
[1, 2, 3, 4, 1, 2.3, True, 'this is a test']
[1, 2, [1, 2, 3], [1, 2, 'Test']]
[3, 'baby baby baby ', 4]

In [11]:
print(type(a))
print(len(a)) #length

<class 'list'>
4

In [12]:
test = [100, "jane", 40, "tim", 1000, "john and liz"]
#        0      1    2     3      4         5
#       -6     -5   -4    -3     -2        -1
print(test[0])
print(test[4])
print(test[5])
print(test[-1])
print(test[-2])
# -indexing은 맨 뒤를 의미함
# -2는 뒤에서 두번째에 해당

100
1000
john and liz
john and liz
1000

In [13]:
# list[index1 : index2]
# index1부터 index2의 하나 전까지(index2까지 아님 주의)
test[2:4] # test list의 2번째부터 3번째까지

[40, 'tim']

In [14]:
print(test[:4]) # 처음부터 3번째까지
print(test[2:]) # 2번째부터 마지막까지
print(test[:]) # 전체 출력

[100, 'jane', 40, 'tim']
[40, 'tim', 1000, 'john and liz']
[100, 'jane', 40, 'tim', 1000, 'john and liz']

In [18]:
# List of lists
test = [['tom', 10, 20, 40], ['jane', 50, 60, 70], ['john', 80, 90, 100]]
print(test[1][1])
print(test[-1][-1])
print(test[-1][1:3])
print(test[1][:])
print(test[1])

50
100
[80, 90]
['jane', 50, 60, 70]
['jane', 50, 60, 70]

In [19]:
# Mutable List : change, add, remove
a = [1,2,3,'tom','jane',"kim"]
print(a)
a[-1] = 100
print(a)
a[2] = [1,2,3]
print(a)

[1, 2, 3, 'tom', 'jane', 'kim']
[1, 2, 3, 'tom', 'jane', 100]
[1, 2, [1, 2, 3], 'tom', 'jane', 100]

In [21]:
print("a: ", a)
b = [10000,20000]
c = a + b
print("c :", c)
print(c[3])

a:  [1, 2, [1, 2, 3], 'tom', 'jane', 100]
c : [1, 2, [1, 2, 3], 'tom', 'jane', 100, 10000, 20000]
tom

In [22]:
print(c)
del(c[3]) # del을 이용한 삭제
print(c)

[1, 2, [1, 2, 3], 'tom', 'jane', 100, 10000, 20000]
[1, 2, [1, 2, 3], 'jane', 100, 10000, 20000]

In [25]:
# Replace list elements
x = ["a", "b", 'c', 'd', 1, 2, 3]
print(x)
x[1] = 100
x[2:] = [10, 20, 30]
print(x)
x[2:] = ["abc", 'def', 'hij']
print(x)
x[3:] = 'this is a test' # 각각의 character가 assign된다.
print(x)

['a', 'b', 'c', 'd', 1, 2, 3]
['a', 100, 10, 20, 30]
['a', 100, 'abc', 'def', 'hij']
['a', 100, 'abc', 't', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 't', 'e', 's', 't']

In [30]:
# =을 써서 복사하기
x = ["a", 'b', "c"]
print(x)
y = x # y와 x가 같은 것을 가리키게 된다.
print(y)
y[1] = "new"
print("y: ", y)
print("x: ", x)

['a', 'b', 'c']
['a', 'b', 'c']
y:  ['a', 'new', 'c']
x:  ['a', 'new', 'c']

In [31]:
x = ["a", 'b', "c"]
print(x)
y = list(x) # 새로운 것을 만들고 싶다면 list를 쓰면 된다.
print(y)
y[1] = "new"
print("y: ", y)
print("x: ", x)

['a', 'b', 'c']
['a', 'b', 'c']
y:  ['a', 'new', 'c']
x:  ['a', 'b', 'c']

In [32]:
animals = ['cat', 'dog', 'bear', 'elephant']
for a in animals : # for (item variable) in (list), 콜론이 있으면 자동으로 indentation이 된다.
    print(a)
for b in animals :
    print(b.upper())

cat
dog
bear
elephant
CAT
DOG
BEAR
ELEPHANT

In [35]:
print(len(animals))
index = 0
while index < len(animals) : # while loop
    print(animals[index])
    index += 1

4
cat
dog
bear
elephant

In [36]:
print(animals)

['cat', 'dog', 'bear', 'elephant']

In [37]:
# sorted() function
sorted_animals = sorted(animals)
print("animals :          {}".format(animals))
print("sorted animals :   {}".format(sorted_animals))

animals :          ['cat', 'dog', 'bear', 'elephant']
sorted animals :   ['bear', 'cat', 'dog', 'elephant']

In [38]:
# sort() method
animals.sort()
print("animals :          {}".format(animals))

animals :          ['bear', 'cat', 'dog', 'elephant']

In [39]:
animals.append("pig")
print(animals)

['bear', 'cat', 'dog', 'elephant', 'pig']

In [40]:
# range(index)는 0부터 index-1까지
for number in range(5):
    print(number)

0
1
2
3
4

In [41]:
for a in range(2,5):
    print(a)

2
3
4

In [42]:
for b in range(1,7,2): #1부터 6까지 2씩 증가시켜서 (1,3,5)
    print(b)

1
3
5

In [44]:
for number in range(0, len(animals), 2): # 0부터 4까지 2씩 증가시켜서 (0,2,4)
    print(animals[number])

bear
dog
pig