# Functions

In [1]:
# Python built-in functions
# max(), len(), type()

a = [123,22,34,5555]
max(a)

5555

In [2]:
min(a)

22

In [3]:
round(1.23456, 2) # 소수점 이하 2자리

1.23

In [4]:
help(round) # function이 어떤 값을 매개변수로 받고, 어떤 값을 리턴하는지 알고 싶을 때 help() 이용

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [5]:
round(1.53456) # closest integer

2

In [6]:
# 리스트 정렬
a = [1,4,7,1]
b = [2,3,9,11]
c = a + b
ascending = sorted(c)
descending = sorted(c, reverse=True)
print('ascending', ascending)
print('descending', descending)

ascending [1, 1, 2, 3, 4, 7, 9, 11]
descending [11, 9, 7, 4, 3, 2, 1, 1]

In [7]:
# Each object(list, str, dictionary, ... )는 각자 method 가지고 있음
# list methods
names = ['jim', 'jones', 'tom', 10, 20, 10, 10]
names.index('tom') # 'tom'의 index를 알 수 있음

2

In [8]:
print(names.count(10)) # list 안에서 10이 몇 번 나왔는지 count
names.append('new')
print(names)

3
['jim', 'jones', 'tom', 10, 20, 10, 10, 'new']

In [9]:
# str methods
name = 'liz'
print(name.capitalize()) # 첫 문자만 대문자로
print(name.upper()) # 전체를 대문자로

Liz
LIZ

In [10]:
name.replace('z', 'zzzz')

'lizzzz'

In [11]:
name # string은 immutable하기 때문에 replace 했어도 바뀌지 않음

'liz'

In [12]:
def say_hi(): # parameter가 없는 function
    print("Hi!")

In [13]:
say_hi()

Hi!

In [14]:
def say_hi(name): # parameter가 있는 function
    print("Hi {}!".format(name))

In [15]:
say_hi("john")

Hi john!

In [16]:
def say_hi(name = 'there'):
    # name이 있으면 name을 찍고, 없으면 there을 찍어준다.
    print("Hi {}!".format(name))

In [17]:
say_hi() # 넘겨준 게 없으면 default argument가 출력된다.

Hi there!

In [18]:
say_hi("Tom")

Hi Tom!

In [19]:
# multiple parameters
def say_hi(first, last):
    print("Hi {} {}!".format(first, last))

In [20]:
say_hi("Gil-Dong", "Hong")

Hi Gil-Dong Hong!

In [21]:
print(10 % 2)
print(11 % 2)
print(10 % 2 == 0)
print(11 % 2 == 0)

0
1
True
False

In [22]:
def odd_or_even(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"

In [23]:
odd_or_even(7)

'Odd'

In [24]:
def is_odd(number):
    if number % 2 == 0:
        return False
    else:
        return True

In [25]:
print(is_odd(7))
print(is_odd(8))

True
False

In [26]:
def get_name():
    name = input('What is your name? ') # input()으로 어떤 값을 입력하게 하고, 그 값을 변수에 저장할 수 있다.
    return name

In [27]:
get_name()

What is your name? abc

'abc'

In [28]:
def say_name(name): # return문이 없는 function
    print('Your name is {}'.format(name))
    
def get_and_say_name():
    name = get_name()
    say_name(name)

In [29]:
get_and_say_name()

What is your name? abc
Your name is abc

# Tuples

In [30]:
# Tuples : 리스트와 비슷하지만, 내용 수정 불가(immutable)
# List는 [], Dictionary는 {}, Tuple은 () 사용

my_tuple = (1,2,"test")

In [31]:
my_tuple[0:]

(1, 2, 'test')

In [32]:
# immutable하기 때문에 바꿀 수 없다.
my_tuple[1] = 10

TypeError: 'tuple' object does not support item assignment

In [33]:
my_tuple = (10)
print(my_tuple)
print(type(my_tuple)) # (10,)가 아니라서 tuple 대신 int가 출력됨

10
<class 'int'>

In [34]:
my_tuple = (10,) # 원소를 하나만 가지는 tuple은 ,를 가져야 함
print(my_tuple)
print(type(my_tuple))

(10,)
<class 'tuple'>

In [35]:
my_tuple = (11,22,33)
print(my_tuple[0])
print(my_tuple[-1])
print(my_tuple[0:1]) # 콤마 출력 주의

11
33
(11,)

In [36]:
my_tuple[0:3]

(11, 22, 33)

In [37]:
my_tuple[0:4] # 출력은 가능하지만, 안 좋은 방법

(11, 22, 33)

In [38]:
my_tuple = (11,22,33)
saved = my_tuple
my_tuple += (44,)
print(my_tuple) # 1번째 my_tuple과 3번째 my_tuple은 달라서 immutable한데도 44가 추가된 점 주의
print(saved)

(11, 22, 33, 44)
(11, 22, 33)

In [39]:
my_tuple = (11,22,33)
saved = my_tuple
my_tuple += (44) # ,가 없어서 Error
print(my_tuple)

TypeError: can only concatenate tuple (not "int") to tuple

In [40]:
atuple = (33,22,11)
atuple.sort() # sort하면 immutable한 tuple을 바꿔줘야 하기 때문에 Error

AttributeError: 'tuple' object has no attribute 'sort'

In [41]:
print(type(atuple))
print(atuple)
atuple = sorted(atuple) # sorted라는 function은 tuple을 list로 바꿔줌, 다른 atuple이 생성된 것
print(type(atuple))
print(atuple)

<class 'tuple'>
(33, 22, 11)
<class 'list'>
[11, 22, 33]

In [42]:
atuple = (33,22,11)
print(type(atuple))
print(atuple)
alist = sorted(atuple) // sorted는 원래 atuple의 값을 바꾸지 않음
print(type(atuple))
print(atuple)

<class 'tuple'>
(33, 22, 11)
<class 'tuple'>
(33, 22, 11)

In [43]:
# list comprehension
[i for i in atuple]

[33, 22, 11]

In [44]:
# sequence를 tuple로 바꾸기

alist = [10,20,30]
atuple = tuple(alist)
print(atuple)

(10, 20, 30)

In [45]:
# string을 tuple로 바꾸기

newtuple = tuple("Hello World")
print(newtuple)

('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd')

# Iteration : List, String, Dictionary에 적용 가능

In [46]:
# list
my_list = [1,"a",[1,2,3],{"park":10},{10,20,30}]

In [47]:
for item in my_list: # my_list에 있는 각각의 item을 찍어라
    print(item)

1
a
[1, 2, 3]
{'park': 10}
{10, 20, 30}

In [48]:
# tuple
my_tuple = (1, "a", [1,2,3], {"park" : 10}, {10,20,30})
my_tuple

(1, 'a', [1, 2, 3], {'park': 10}, {10, 20, 30})

In [49]:
for item in my_tuple:
    print(item)

1
a
[1, 2, 3]
{'park': 10}
{10, 20, 30}

In [50]:
# dictionary
my_dict = {'a':10, 'b':[1,2,3]}

In [51]:
for a, b in my_dict.items(): 
    # items()를 쓰면 key와 value가 리턴된다.
    # 그래서 for (a, b) 말고
    # for a, b로 써야한다는 것 주의
    print(a, b) # 리턴되는 것이 2개니까 variable 2개 쓴다.

a 10
b [1, 2, 3]

In [52]:
for item in my_dict:
    print(item) # key만 출력

a
b

In [53]:
for item in my_dict.keys(): # 위와 같은 결과
    print(item)

a
b

In [54]:
for item in my_dict.values():
    print(item)

10
[1, 2, 3]

In [55]:
range(4)

range(0, 4)

In [56]:
for i in range(4):
    print(i)

0
1
2
3

In [57]:
for i in range(1,10,3): # 1에서 9까지 3씩 건너뛰고 출력
    print(i)

1
4
7

In [58]:
mylist = ['a', 'b', 'c']
for i in mylist:
    print(i)

a
b
c

In [59]:
for i in range(len(mylist)): # enumerate()로 똑같은 결과 얻을 수 있다.
    print(i, mylist[i])

0 a
1 b
2 c

In [60]:
enumerate(mylist) # enumerate 객체 만들어짐

In [61]:
# enumerate 객체는 두 개를 리턴함
# enumerate()로 index와 element 뽑아내기
    
for i, item in enumerate(mylist):
    print(i, item)

0 a
1 b
2 c